:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contenedor {
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  min-width: 320px;
  min-height: 100vh;
}

div ul {
  background-image: url(https://www.clker.com/cliparts/W/N/1/d/q/z/sqaure-green.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 0px 12px;
}

li {
  list-style: none;
  background-image: none;
}

#peliculas {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

p {
  margin-left: 120px;
  width: 500px;
  text-align: justify;
}

ol {
  margin-left: 120px;
}

ol li {
  list-style-type: disc;
}

#personaje {
  margin-bottom: 44px;
}

#boton button {
  margin-left: 50px;
  margin-top: 15px;
}

#contenedorPersonajeYItems {
  display: flex;
  flex-direction: column;
}