.imagenes {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 15px;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(3, 302px);
}

#imgs {
    margin-bottom: 20px;
}

img {
    width: 300px;
    height: 150px;
}

div div {
    width: 300px;
    height: 150px;
    background: lightgray;
    border: 1px solid #999;
}

#reiniciar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}